{
  "openapi": "3.1.0",
  "info": {
    "title": "samkhan.net content API",
    "description": "Machine-readable, read-only content endpoints for samkhan.net, the personal site of Sameer Khan (Forward Deployed / AI Engineer). All endpoints are static GET resources. HTML pages (/, /blog/{slug}/) also serve markdown via `Accept: text/markdown` content negotiation. There is no interactive API: every /api/* path returns a structured JSON 404.",
    "version": "1.0.0",
    "contact": {
      "name": "Sameer Khan",
      "url": "https://samkhan.net"
    }
  },
  "servers": [
    {
      "url": "https://samkhan.net"
    }
  ],
  "paths": {
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "summary": "llms.txt site overview (llmstxt.org format)",
        "responses": {
          "200": {
            "description": "Markdown overview of the site with links to key content.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/index.md": {
      "get": {
        "operationId": "getHomeMarkdown",
        "summary": "Homepage as markdown (also served at / with Accept: text/markdown)",
        "responses": {
          "200": {
            "description": "Markdown version of the homepage.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/blog/{slug}.md": {
      "get": {
        "operationId": "getBlogPostMarkdown",
        "summary": "Blog post as markdown (also served at /blog/{slug}/ with Accept: text/markdown)",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Post slug. Enumerate slugs via /sitemap.xml, /rss.xml, or /llms.txt."
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown source of the post with YAML frontmatter.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Unknown slug."
          }
        }
      }
    },
    "/rss.xml": {
      "get": {
        "operationId": "getRssFeed",
        "summary": "RSS 2.0 feed of blog posts",
        "responses": {
          "200": {
            "description": "RSS feed.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "operationId": "getSitemap",
        "summary": "XML sitemap of all pages",
        "responses": {
          "200": {
            "description": "Sitemap.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApiSpec",
        "summary": "This specification",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/{path}": {
      "get": {
        "operationId": "apiNotFound",
        "summary": "No interactive API exists; always returns a structured JSON 404",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Structured JSON error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "examples": [
                  "not_found"
                ]
              },
              "message": {
                "type": "string"
              },
              "hint": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}